.container-form__main{
        background-color: white;
        height:23rem;
        width:40rem;
        padding:1rem;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
       
}
.container-form__mainsignup{
    background-color: white;
    height:35rem;
    width:40rem;
    padding:1rem;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
   
}
.label-username{
    font-size: medium;
    font-weight: bold;
}
.btn-sign-up{
    float: right;
    /* background-color: #ffcbcb; */
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    /* border:1px solid #ffcbcb; */
}
.btn-sign-in{
    /* background-color: #ffcbcb; */
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    /* border:1px solid #ffcbcb; */
}
.container-h2{
   text-align: center;
   
}
.line{
    height: 2px;
    background-color: black;
}
.h2-sign-in{
    font-weight: bold;
}

@media (max-width:583px){
    .container-form__main{
       width:85%;
    }
}
.form-color{
    background-color: #e7e7e7;
    box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
    margin-left: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}