.background-nav{
    background-color: #d9d7f1;
}
.drop-shadow__a{
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);
    font-weight: 400;
}
.margin-ul{
    margin-left: auto;
}
.brand-font__weight{
    font-weight: bold;
    font-size: 1.5rem;
}