.image-custom{
    margin:0 auto;
    border-radius: 10px;
    width: 100%;
}
.li-custom{
    
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background-color: white;
}
.custom-h2{
    font-weight: bold;
    
}
.custom-h3{
    font-weight: 300;
}
.btn-custom__1{
    margin: 0.1rem;
    background-color: #FFCBCB;
    border: 1px solid #FFCBCB;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
}
