@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

*{
  box-sizing: border-box;
}
html{
  font-family: 'Ubuntu Mono', monospace;
}
body{
  margin:0;
  background-color:#eef2ff;
}
.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}